:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(1, 1, 1, 0.8);
  border-bottom: 1px solid #523a23;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.navbar .navbar-logo span {
  color: var(--primary);
  font-style: italic;
}

.navbar .navbar-nav a {
  color: white;
  font-size: 1.3rem;
  display: inline-block;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.3);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("img/coffe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 55%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
  margin-top: 5rem;
}

.hero .content h1 {
  font-size: 4em;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
  font-style: italic;
}

.hero .content p {
  font-size: 1.3rem;

  margin-top: 0.5rem;
  line-height: 1.1rem;
}

.hero .content button {
  padding: 0.5rem 1rem;
  margin-top: 0.8rem;
  background-color: var(--primary);
  color: white;
}

/* About Section */
.about {
  padding: 6rem 1.4rem 7%;
}

.about h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 2rem;
}

.about .row .content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about .row .content h3 span {
  color: var(--primary);
  font-style: italic;
}

.about .row .content p {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  font-weight: 300;
  line-height: 1.6;
}

/* Daftar Sectiom */
.daftar,
.kontak {
  padding: 6rem 1.4rem 7%;
}

.daftar h2,
.kontak h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.daftar p,
.kontak p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
}

.daftar .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.daftar .row .menu-card {
  text-align: center;
  margin-left: 2rem;
}

.daftar .row .menu-card img {
  border-radius: 50%;
  width: 15rem;
}

.daftar .row .menu-card .menu-card-title {
  margin: 1.5rem auto 1rem;
}

/* Kontak Section*/
.kontak .row {
  display: flex;
  margin-top: 1.3rem;
  background-color: #222;
}

.kontak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.kontak .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.kontak .row form .input-grup {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  padding-left: 1rem;
  border: 2px solid #eee;
}

.kontak .row form input {
  width: 80%;
  font-size: 1.5rem;
  padding: 1rem;
  background: none;
}

.kontak .row form button {
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
}

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .sosial {
  padding: 1rem 0;
}

footer .sosial a {
  color: white;
  margin: 1rem;
}

footer .sosial a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.3rem;
}
footer .links a {
  color: white;
  padding: 1rem 0;
  margin: 1rem;
}

footer .credit {
  font-size: 0.9rem;
}

footer .credit a {
  color: var(--bg);
}

/* Responsif Halaman */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    font-size: 1.3rem;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.3rem;
  }

  .kontak .row .map {
    height: 40rem;
  }

  .kontak .row form {
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
/* Handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
